
/* Nav Bar CSS taken from W3Schools https://www.w3schools.com/Css/css_navbar_horizontal.asp (the ul css) */
/* to understand using grid, I used https://www.w3schools.com/css/css_grid_item_name.asp for a template and I used AI tools to trouble shoot issues and how to make footer remain at bottom with no white space*/

.container {        /* This is experimentation with using grid */
  display: grid;
  min-height: 100vh; /* from what i understand, this allows content to span the whole page*/
  grid-template-rows: auto 1fr auto; /* auto fits to the content, and the 1fr is the remaining avalible space*/
  grid-template-areas:   /* this essentially formats the grid rows and columns*/
  'header header header'
  'main main main'
  'footer footer footer';
}

header {
  grid-area: header;
}

.banner {
  margin: 10px;   /*to add margin without adding it to navbar*/
 
}
 
body {
  margin: 0;
}

main {
  grid-area: main;
  margin: 10px;
}





footer {
  background-color: #333333;
  padding: 20px;
  grid-area: footer;
  color: white;
  font-size:small;
  
}



.myorder {
   
  margin: 15px;
  
  
  
}

input[type="text"] {
  margin-bottom: 10px ;
  border-radius: 8px; /* creates rounded boarders*/
  border-color:lightslategrey ;
  
}

.navbar {
   border-radius: 5px;
}

.order, .submit {
  margin: 20px;
  padding: 5px;
  
}

ul {      /* starting from here down is the navbar taken from w3shcools, this is not my own work, I did the html ul, not the css*/
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}




  